{% extends 'layout.html' %} {% block content %}
<main id="main">
  <div class="allmoviescontainer">
  <div style="text-align:center;height: 350px;" class="allmovies e">
<h1 style="font-family:Comic Sans MS;"> Welcome to 235movies.com! </h1>
    <br>
    <span>
  <p>Here you can find a list of cool Blockbuster movies that you can then purchase and watch (or not) with family and friends! You can make an account, log in, and then share your thoughts on lots of different movies. This is so long as your thoughts do not contain any swear words.</p>
      <br>
      </span>
      <p><b>You can search by: </b>Release Year, Genre. </p>
    <p>You can see the top 3 movies currently to the right of the screen! </p>


    <br>
    <p> Thank you for visiting my website! </p>
    </div>



    </div>
</main>
{% endblock %}